<div id="upload">
	<% form_for(:world, :html => {:multipart => true}) do | f | %>
		<%= f.error_messages %>
		
		<p>
			<%= f.label :name, "World name" %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :author, "Your name" %>
			<%= f.text_field :author %>
		</p>
		<p>
			<%= f.label :zip, "Upload a zip of your platform editor files here" %>
			<%= f.file_field :zip %>
		</p>
		
		<%= f.submit("GO", :class => "submit") %>
	<% end %>
</div>