<div>
	<% form_for(:world, :html => {:multipart => true,:id => 'upload'}) do | f | %>
		<%= f.error_messages %>
		
		<p>
			<%= f.label :name, "World name" %>
			<%= f.text_field :name, :class => :required %>
		</p>
		<p>
			<%= f.label :author, "Your name" %>
			<%= f.text_field :author, :class => :required %>
		</p>
		<p>
			<%= f.label :email, "Your email address" %>
			<%= f.text_field :email, :class => [:required, :email] %>
		</p>
		<p>
			<%= f.label :zip, "Upload a zip of your platform editor files here" %>
			<%= f.file_field :zip %>
		</p>
		
		<%= f.submit("Upload", :class => "submit") %>
	<% end %>
</div>