<h1><%= @world.name %></h1>
<span class="author">by <%= @world.author %></span>
<% if flash[:message] %>
	<p class="message"><%= flash[:message] %></p>
<% end %>
<div class="links">
	<%= link_to "Enter #{@world.name}", world_path(@world) %>
</div>
<h2>Embedding</h2>
<div class="embedding">
	
	<%= form_for :embed, :url => embed_world_path(@world), :html => {:id => 'embedder'} do | f | %>
			<label>Dimensions</label>&nbsp;<%= f.text_field :width, :value => 750, :maxlength => 4, :class => 'dimension' %>&nbsp;x&nbsp;<%= f.text_field :height, :value => 560, :maxlength => 4, :class => 'dimension' %>	
		   	<%= f.label :fullscreen, "Show fullscreen?"%>&nbsp;<%= f.check_box :fullscreen, :class => 'fullscreen' %>
			&nbsp;<%= f.submit("Generate") %>

	<% end %>
	
	<fieldset>
		<legend>Embed code</legend>
		<%= text_area_tag :code, (@embed ? @embed.code : ''), :width => 400, :height => 50, :class => 'code', :id => 'embed_code' %>
	</fieldset>
</div>

<h2>Sharing</h2>
<div class="sharing">
	<p>Here's a <%= link_to "bit.ly link", bitly_world_url(@world) %> link to share with other users. We can use this to tell you how many people visit your world</p>
	<% stats = bitly_world_stats(@world) %>
	<p>So far you've had <%= stats[:clicks] %> clicks, and the users have come from these sites<p>
	<ul>
		<% stats[:referrers].each_pair do | referer, count | %>
			<li><% link_to referer %>&nbsp;<%= count %></li>
		<% end %>
	</ul>
</div>